<!DOCTYPE html>
<html>
  <head>
    <title>Guaranteed Investments</title>
  </head>
  <body>
    <h1>Guaranteed Investments</h1>
    <p>
      Invest with us and get a free box of cookies.
    </p>
    <form action="" method="POST">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_4K9M7SfBD4eU1mcrEZgn7HAA"
                data-amount="2000"
                data-name="Demo Site"
                data-description="2 widgets ($20.00)"
                data-image="/128x128.png"
                data-locale="auto">
        </script>
    </form>
  </body>
</html>
