<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{.FirstName}} {{.LastName}}</title>
</head>
<body>
  <p>Name: {{.FirstName}} {{.LastName}}</p>
  <p>Email: {{.Email}}
</body>
</html>
