<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Twitter Clone</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  {{if .Logged}}
  <a href="/{{.Username}}">Profile</a>
  <a href="/logout">Logout</a>
  {{else}}
  <a href="/login">Log In</a>
  {{end}}
  {{range .Tweets}}
  {{template "tweet" .}}
  {{end}}
</body>
</html>
