{{template "header"}}
<link rel="stylesheet" href="public/css/signup.css">
{{template "header2"}}
<form method="POST">
    <i class="fa fa-user fa-5x"></i>
    <input id="email" name="user" type="email" placeholder="Enter your email">
    <p class="form-field-err"></p>
    <input id="name" name="name" placeholder="Enter a twitter name">
    <p class="form-field-err" id="username-err"></p>
    <input id="password" name="password" type="password" placeholder="Create your password">
    <input id="password2" name="password2" type="password" placeholder="Retype your password">
    <p class="form-field-err" id="password-err"></p>
    <button id="btn-create-account">Create Account</button>
</form>
<script>
    //    username must be unique
    name = document.querySelector('#name');
    name.addEventListener('keyup', function(){
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/api/checkUserName');
        xhr.send(JSON.stringify(name.textContent));
        xhr.addEventListener('readystatechange', function(){
            var item = JSON.parse(xhr.responseText);
            nameErr = document.querySelector('#username-err');
            if (item == 'true') {
                nameErr.textContent = 'Username taken - Try another name!';
            } else {
                nameErr.textContent = '';
            }
        });
    });

    //    Validate passwords
    //    listen for submit button click
    btnSubmit = document.querySelector('#btn-create-account');
    btnSubmit.addEventListener('click', function(e){
        e.preventDefault();
        ok = validatePasswords();
        if (ok) {
            // stringify data, submit data, handle on server
        }
    });

    function validatePasswords() {
        p1 = document.querySelector('#password');
        p2 = document.querySelector('#password2');
        pErr = document.querySelector('#password-err');
        pErr.textContent = '';
        if (p1.textContent = '') {
            pErr.textContent = 'Enter a password.';
            return false;
        }
        if (p1.textContent != p2.textContent) {
            pErr.textContent = 'Your passwords did not match. Please re-enter your passwords.';
            p1.textContent = '';
            p2.textContent = '';
            return false;
        }
        return true;
    };
</script>
{{template "footer"}}