{{define "header"}}
<a href="/">Main page</a>
<a href="/addMovie">Add a movie</a>
<form action="/search" method="GET">
  <input type="text" name="q" placeholder="Search">
  <input type="submit" value="Search">
</form>
{{end}}
