<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pictures</title>
</head>
<body>
<h1>PICTURES</h1>

{{ if .LoggedIn }}
<a href="/admin/logout">Log Out</a>
{{ .LoggedIn }}
{{ else }}
{{ .LoggedIn }}
<p>We are in the else</p>
{{ end }}

<a href="/admin">admin</a>
{{ range .Photos }}
<br/>
<a href="#" download="{{ .PhotoPath }}"><img src="{{ .PhotoPath }}" alt="ocean"></a>

<img src="https://maps.googleapis.com/maps/api/
staticmap?center={{.Lat}},{{.Long}}&zoom=15&size=700x700&maptype=roadmap&markers=color:red%7Clabel:C%7C{{.Lat}},{{.Long}}" alt="map">

{{ end }}
</body>
</html>