html {
	background-color: #333;
}

.questionEntry {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	width: 300px;
	margin: 25px auto;
}

.questionEntry input {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
}

#magic8 {
	width: 500px;
	height: 500px;
	margin: 25px auto;
	-webkit-transition: background-image 1s;
	transition: background-image 1s;
	background-image: url('8ball/empty.png');
	background-size: contain;
}