.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    border: 4px solid #2ec371;
    width: 70%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: rgba(46, 195, 113, 0.6);
}
.modal-close {
    border: 1px solid #2ec371;
    background: #2ec371;
    color: #FFFFFF;
    line-height: 20px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 24px;
    text-decoration: none;
    border-radius: 0px 6px 0px 4px;
}
.modal-close:hover {
    background: #2ec371;
}

#modal-tweet {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #2ec371;
    margin: 20px 0 0 0;
    font-size: 40px;
}

#modal-submit {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 14px 28px;
    font-size: 18px;
    color: #fff;
    margin: 15px 15px 0 0;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    background-color: #2ec371;
}

#modal-submit:hover {
    background-color: #00acc1;
}



#modal-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#opens-modal {
    margin-right: 10px;
}