{{ define "modal-tweet"}}
<a href="#openModal" id="opens-modal"><p class="loginOut">Tweet</p></a>

<div id="openModal" class="modalDialog">
    <div>	<a href="#close" title="Close" class="modal-close">X</a>
        <form method="post" id="modal-form">
            <textarea name="tweet" id="modal-tweet" rows="4" maxlength="140"></textarea>
            <a href="/tweet"><p id="modal-submit">Tweet</p></a>
        </form>
    </div>
    {{end}}

    {{ define "modal-tweet-css"}}
    <link rel="stylesheet" href="/public/css/modal-tweet.css">
    {{end}}