{{template "header"}}
<link rel="stylesheet" href="/public/css/login.css">
{{template "header2" .}}
    <form method="POST" action="/api/login">
        <i class="fa fa-user fa-5x"></i>
        <input id="userName" name="userName" placeholder="Enter your user name" autofocus>
        <p class="form-field-err"></p>
        <input id="password" name="password" type="password" placeholder="Enter your password">
        <p class="form-field-err"></p>
        <button>Submit</button>
    </form>
    <a href="/form/signup" id="create-account">Create account</a>
{{template "footer"}}