* {
    padding: 0;
    margin: 0;
}

.badge {
    border-radius: 15px;
    background-color: lightcoral;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 5px
}

h1, h2 {
    padding: 2px;
}

.content {
    background-color: white;
    width: 500px;
    height: 200px;
    margin-bottom: 20px;
    font-size: 60px;
    color: black;
    font-family: cursive;
}