{{template "header"}}
<link rel="stylesheet" href="public/css/signup.css">
{{template "header2"}}
    <form method="POST">
        <i class="fa fa-user fa-5x"></i>
        <input id="email" name="user" type="email" placeholder="Enter your email">
        <p class="form-field-err">something</p>
        <input id="name" name="name" placeholder="Enter your twitter handle name">
        <p class="form-field-err">something</p>
        <input id="password" name="password" type="password" placeholder="Create your password">
        <input id="password2" name="password2" type="password" placeholder="Retype your password">
        <p class="form-field-err" id="password-err">something</p>
        <button>Create Account</button>
    </form>
<script>
    <!-- Confirm passwords match -->
    p1 = document.querySelector('#password');
    p2 = document.querySelector('#password2');
    perr = document.querySelector('#password-err');
    perr.innerHTML = '';
    if (p1 != p2) {
        perr.innerHTML = 'Your passwords did not match. Please re-enter your passwords.'
    }
</script>
<!-- TODO add javascript event listener to validate form -->

<!-- TODO AJAX to check if username is taken -->
<!-- TODO email is valid -->
{{template "footer"}}