<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo Blog</title>
</head>
<body>
<h1>Photo blog</h1>
<p><a href="/admin">admin</a></p>

{{range .Photos}}<p><img src="{{.}}"></p>{{end}}

{{if .loggedin}}<a href="/admin/logout">Log Out</a>{{end}}

</body>
</html>

