{{template "header"}}
<div id="top">
    <header>
        <i class="fa fa-heart-o fa-3x"></i>
        <nav>
            <a href="/login"><p id="login">Log In</p></a>
        </nav>
    </header>
    <p id="motto">Seven Deadly Sins</p>
    <p id="motto">One convenient location</p>

</div>

<main>
    <section>
        <i class="fa fa-user fa-2x"></i>
        <p id="post">post</p>
    </section>
    <section>
        <i class="fa fa-user fa-2x"></i>
        <p id="post">post</p>
    </section>
</main>
{{template "footer"}}
