form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #2ec371;
    border-radius: 4px;
    padding: 20px;
    background-color: #f3f3f3;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
}

.fa-5x {
    color: #2ec371;
    border: 1px solid #2ec371;
    border-radius: 100%;
    padding: 15px;
    margin-bottom: 10px;;
}

input, button {
    height: 40px;
    width: 250px;
    font-size: 16px;
    margin: 4px 0;
    padding: 10px;
}

button {
    background-color: #2ec371;
    border: 0px;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
}

#create-account {
    color: #2ec371;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-decoration: none;
}