<!DOCTYPE html>
<html>
<body>
  <iframe
    width="600"
    height="450"
    frameborder="0"
    style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q={{.Latitude}}%20{{.Longitude}}&key={{.Key}}" 
    allowfullscreen></iframe>
</body>
</html>
