<!DOCTYPE html>
<html>
  <head>
    <title>Guaranteed Investments</title>
  </head>
  <body>
    <h1>Guaranteed Investments</h1>
    <p>
      Invest with us and get a free box of cookies.
    </p>
    <form action="/payment" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_G3cgqRLDvnf48gKZLo2WTvp5"
        data-amount="20000000"
        data-name="Guaranteed Investments"
        data-description="High Returns"
        data-image="/minions.jpg">
      </script>
    </form>
  </body>
</html>
