* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

form label {
  display: block;
}

h2 {
  margin: 10px;
}

.filebrowser {
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
}

.filebrowser p {
  font-size: 25px;
}

.filebrowser a {
  display: block;
}

.filepath {
  border-bottom: 1px solid black;
}

.upload {
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
}
