<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Screamer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <button id="loginButton"><a href="/login">Login</a></button>
    <button id="logoutButton"><a href="/logout">Logout</a></button>
    <button id="screamButton">SCREAM</button>
    <button id="followButton">follow</button>
      <div class="well">
        <h2 class="text-center">screams go here</h2>
        <p id="poller"></p>
      </div>
    <div classs="col-lg-12">
      <ul class="list-group" id="list">
      </ul>
    </div>
  </div>


<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/scripts/main.js"></script>

</body>
</html>
