<!DOCTYPE html>
<head></head>
<body>
<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Open</th>
    </tr>
    </thead>
    <tbody>
    {{ range . }}
    <tr>
        <td>{{ .Date }}</td>
        <td>{{ printf "%.2f" .Open }}</td>
    </tr>
    {{ end }}
    </tbody>
</table>
</body>